---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="heading-lv-1 " itemprop="name headline">
      {{ page.title }}
    </h1>

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="date">{{ page.date | date: "%b %-d, %Y" }}</time>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="post-footer">

    <img src="{{ "/assets/img/avatar/" | append: page.avatar | prepend: site.baseurl }}" alt="{{ page.author }}" class="post-footer-avatar">

    <span itemprop="name">{{ page.author }}</span>

</div>
